<form class="password-form" [formGroup]="passwordForm">
  <button md-icon-button class="close-btn" md-dialog-close>
    <md-icon>close</md-icon>
  </button>

  <div>
    <md-input-container>
      <input 
        mdInput 
        placeholder="{{'UserInfo.CurrentPassword' | translate}}" 
        formControlName="currentPassword"
      >
    </md-input-container>
    <error-container [control]="passwordForm.controls['currentPassword']" [show]="submitted">
      <error-item errorName="required">{{'UserInfo.errors.passwordRequired' | translate}}</error-item>
    </error-container>
  </div>

  <div>
    <md-input-container>
      <input 
        mdInput 
        placeholder="{{'UserInfo.NewPassword' | translate}}" 
        formControlName="newPassword"
      >
    </md-input-container>
    <error-container [control]="passwordForm.controls['newPassword']" [show]="submitted">
      <error-item errorName="required">{{'UserInfo.errors.newPasswordRequired' | translate}}</error-item>
    </error-container>
  </div>

  <div>
    <md-input-container>
      <input 
        mdInput 
        placeholder="{{'UserInfo.ConfirmPassword' | translate}}" 
        formControlName="confirmPassword"
      >
    </md-input-container>
    <error-container [control]="passwordForm.controls['confirmPassword']" [show]="submitted">
      <error-item errorName="confirmed">{{'UserInfo.errors.passwordConfirm' | translate}}</error-item>
    </error-container>
  </div>

  <div class="footer">
    <button md-raised-button (click)="submit()">
      {{'controls.submit' | translate}}
    </button>
  </div>
</form>