
md-input-container{
  width: 100%;
}
.password-form{
  position: relative;
  display: block;
  .close-btn{
    position: absolute;
    right: -15px;
    top: -15px;
  }
}

.footer{
  text-align: center;
}
.error-message{
  display: none;
  margin-top: 5px;
  font-size: 13px;
  &.has-error{
    display: block;
  }
}