@import '../../../../styles/_theme';

sm-status-tree-node-content {
  margin-right: 30px;
  position: relative;
  line-height: 1.5rem;
  font-size: 0.625rem;

  &::before {
    content: " ";
    position: absolute;
    top: 0.75rem;
    right: 0px;
    width: 30px;
    height: 0px;
    border-bottom: dashed 1px #ccc;
    display: block;
  }
  
  &::after {
    display: none;
    position: absolute;
    right: 0px;
    top: 0.75rem;
    bottom: 0.75rem;
    width: 0px;
    border-right: dashed 1px #ccc; 
    content: " "
  }

  &.is-leaf {
    &::before{
      display:none;
    }
    &::after {
      display:none;
    }
  }

  & > .collapse-toggle {
    font-size: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    top: 5px;
    right: -7px;
    position: absolute;
    text-align: center;
    line-height: 0.75rem;
    border: solid 1px #ccc;
    background: #fff;
    z-index: 100;
    cursor: pointer;
  }

  & > .inner {
    margin-right: 20px;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    display: flex;
    height: 100%;
  }

  & > .inner > .fab {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    position: absolute;
    left: -12px;
    top: -5px;
    border-radius: 50%;
    background: map-get($app-warn, 500);
    z-index: 999;
    color: #fff;
  }

  & > .inner > .icon {
    position: absolute;
    left: -27px;
    font-size: 1rem;
    top: 0px;
  }

  & > .inner > span.text {
    
  }

}