<cm-content-container>
  <cm-toolbar-sub-title subTitle="Device List"></cm-toolbar-sub-title>
  <table>
    <thead>
      <th>{{'DeviceList.DeviceID' | translate}}</th>
      <th>{{'DeviceList.Location' | translate}}</th>
      <th>{{'DeviceList.Connectivity' | translate}}</th>
      <th>{{'DeviceList.LatestStatus' | translate}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let device of lightings">
        <td (click)="deviceDetail(device)">{{ device.id }}</td>
        <td bas-device-map-popover [device]="device">{{ device.locations | location | async}}</td>
        <td>{{ device.connectivity }}</td>
        <td>{{ device.status? device.status.Power:0 }}</td>
      </tr>
    </tbody>
  </table>
</cm-content-container>
