.card {
  width: 300px;
}

.data {
  line-height: 81px;
  height: 81px;
  font-size: 48px;
}

.bas-card {
  height: 280px;
  md-card-content {
    height: 200px;
  }
  md-card-footer {
    height: 80px;
    background-color: #fff;
  }
  .material-icons {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 80px;
  }
}

.white {
  color: #fff;
  .mat-card-subtitle {
    color: #fff;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cyan {
  background-color: #55badf;
  .material-icons {
    color: #7ad4f5;
  }
  .subtitle::before {
    display: inline-block;
    content: ' ';
    margin-right: 10px;
    width: 11px;
    height: 11px;
    line-height: 26px;
    background-color: #9ff75f;
    border-radius: 50%;
  }
}

.purple {
  background-color: #a992e2;
  .material-icons {
    color: #c4b0f5;
  }
  .subtitle::before {
    display: inline-block;
    content: ' ';
    margin-right: 10px;
    width: 11px;
    height: 11px;
    line-height: 26px;
    background-color: #f7c65f;
    border-radius: 50%;
  }
}

.top-list {
  max-height: 200px;
  overflow-y: auto;
  .rank {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #dcd9d9;
    &.rank-0 {
      background-color: #f7c65f;
    }
    &.rank-1 {
      background-color: #b9bfd8;
    }
    &.rank-2 {
      background-color: #ebac7a;
    }
  }
}
