<div class="info-container">
  <div class="info">
    <h3>{{ 'DeviceList.Info' | translate}}</h3>
    <section>
      <label>
        <md-icon md-list-icon>devices</md-icon>
        {{'DeviceList.DeviceID' | translate}}
        </label>
      <p>{{ thing.id }}</p>
    </section>
    <section>
      <label>
        <md-icon md-list-icon>place</md-icon>
        {{'DeviceList.Location' | translate}}
        </label>
      <p bas-device-map-popover [device]="thing">{{ thing.locations | location | async }}</p>
    </section>
    <section>
      <label>
        <md-icon md-list-icon>wifi tethering</md-icon>
        {{'DeviceList.Connectivity' | translate}}
        </label>
      <p>{{ thing.connectivity? 1:0 }}</p>
    </section>
    <section>
      <label>
        <md-icon md-list-icon>description</md-icon>
        {{'DeviceList.LatestStatus' | translate}}
        </label>
      <section>
        <label class="sub-label">Brightness</label>
        <md-slider [(ngModel)]="thing.status.Brightness" [disabled]="true"></md-slider>
        <label class="sub-label"></label>
      </section>
    </section>
  </div>

  <!--<label>{{'DeviceList.LastestStatus' | translate}}</label>
      <div>{{ thing.status? thing.status.Power:0 }}</div>-->
  <div class="switch">
  </div>
</div>

<md-tab-group full-ink-bar tab-center>
  <md-tab md-on-select="getProfile()" label="{{'DeviceList.DeviceDetail.Profile' | translate}}">
    <table>
      <thead>
        <th>Profile ID</th>
        <th>Profile Name</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </md-tab>
  <md-tab md-on-select="getCommandHistory()" label="{{'DeviceList.DeviceDetail.CommandHistory' | translate}}">
    <table>
      <thead>
        <th>Power</th>
        <th>Brightness</th>
        <th>State</th>
        <th>Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let command of commandHistory">
          <td>{{command.power}}</td>
          <td>{{command.brightness}}</td>
          <td>{{command.commandState}}</td>
          <td>{{command.createdAt | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </md-tab>
  <md-tab md-on-select="getStateHistory()" label="{{'DeviceList.DeviceDetail.StateHistory' | translate}}">
    <table>
      <thead>
        <th>Brightness</th>
        <th>Power</th>
        <th>Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let state of stateHistory">
          <td>{{state.Bri}}</td>
          <td>{{state.Power}}</td>
          <td>{{state.date | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </md-tab>
  <md-tab md-on-select="getAlert()" label="{{'DeviceList.DeviceDetail.Alert' | translate}}">
    <table>
      <thead>
        <th>Brightness</th>
        <th>Power</th>
        <th>Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let state of stateHistory">
          <td>{{state.Bri}}</td>
          <td>{{state.Power}}</td>
          <td>{{state.date | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </md-tab>
</md-tab-group>